<h1>Welcome!</h1>

<p>
  <%="Welcome #{@employee.name}! Below you can find both your Employee ID and password, both of which will be necessary to clock in. 
  You can change the password whenever you like"%>
</p>
<p>
	Employee ID: <%=@employee.id%>
</p>
<p>
	Password: <%=@password%>
</p>
