<!-- The modal -->
<div class="modal fade" id="tipDistributionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="modalLabelLarge">Tip Breakdown</h4>
				<button type="button" class="close inner-modal"  aria-label="Close" data-target="#tipDistributionModal">
					<span aria-hidden="true">&times;</span>
				</button>
				
			</div>

			<div class="modal-body">
				<table class="table">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Percentage</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody id="tipDistributionTableBody">
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>





